<!DOCTYPE html>

{% extends "layout.html" %}

<html>
	<head>
		{% block scripts %}
		<script type="text/javascript" src="{{ url_for('static', filename = 'book_template.js')}}"></script>
		<script>
			var b_id = {{b_id|tojson}}
			var title = {{title|tojson}}
			var author = {{author|tojson}}
			var summary = {{summary|tojson}}
			var num_fans = {{num_fans|tojson}}
			var cover = {{cover|tojson}}
			var topics = {{topics|tojson}}
		</script>
		{% endblock %}

	</head>



	<body>
		<div class="container">
			{% block content %}
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div id="title">{{title}} by {{author}}</div>
					<div class="padbox"></div>
					<div id="sum">
						<span class="mediumfont">Summary: </span><button class="btn btn-dark left-space" id="editsumbtn">edit</button><br>{{summary}}
					</div>

					<div class="padbox"></div>
					<div id="fans"><span class="mediumfont">Number of Fans: {{num_fans}}</span><button class="btn btn-dark left-space" id="editfansbtn">edit</button></div>
					<div><img src="{{cover}}" alt="Book cover of {{title}}"></div>
					<div id="topicsrow"></div>
					<div class="padbox"></div>
				</div>
				<div class="col-md-2"></div>
			</div>
			{% endblock %}
		</div>
	</body>

</html>